#container{
  margin:0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4,25%);
}
.item-container{
  padding: 0 10px;
}
.pic{
  width: 100%;
}
.li{
  list-style: none;
  min-height: 55px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.word{
  float: left;
  max-width: 200px;
}
.btn{
  float: right;
}
.moda{
  float: right;
}
.title{
  color: red;
  font-weight: 500;
  font-size: 20px;
}
