#uploadproducts-container{
  max-width: 1200px;
  margin: 0.3rem auto;
}
#uploadproducts-container .title{
  font-size: 0.4rem;
}

#uploadproducts-container .upload-pic-btn{
  color:#1890ff;
}

#uploadproducts-container .upload-pic-btn:hover{
  cursor: pointer;
}
