#uploadcatergory-container{
  max-width: 1080px;
  margin: 0 auto;
}
#uploadcatergory-container .title{
  font-size: 0.5rem;
}
#uploadcatergory-container .add{
  font-size: 0.2rem;
}
#uploadcatergory-container .addcategory{
  max-width: 800px;
  margin-right: 20px;
}
