#uploadbrand-container{
  max-width: 1080px;
  margin: 0 auto;
}
#uploadbrand-container .title{
  font-size: 0.5rem;
}

#uploadbrand-container .addbrand{
  width: 2.3rem;
  margin-bottom: 0.3rem;
}

#uploadbrand-container .add{
  font-size: 0.3rem;
}

#uploadbrand-container .addenname{
  width: 2.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#uploadbrand-container .add-btn{
  float: right;
  margin-right: 0.5rem;
}
#uploadbrand-container .brand-chin{
  margin-right: 0.2rem;
}

#uploadbrand-container .brand-en{
  margin-left: 0.2rem;
}

#uploadbrand-container .clearfix{
  margin-top: 0.2rem;
}
