#brand-container{
  margin: 0 auto;
  max-width: 1080px;
}
#brand-container .top{
  height: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:100;
  border-bottom: 2px solid #eee;
  box-shadow: 0 0.2px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#brand-container .back-icon{
  display: block;
  margin-left: 0.2rem;
  font-size: 0.5rem;
}

#brand-container .top-logo{
  width: 0.8rem;
  margin-left: 0.2rem;
}

#brand-container .top-title{
  line-height:1.3rem;
  font-size: 0.5rem;
  font-weight: 600;
  margin-left: 0.1rem;
}

#brand-container .ant-card{
  margin: 1rem 0.2rem 0 0.2rem;
}

#brand-container .inner-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width:768px){
  #brand-container .inner-container{
    flex-direction: column;
  }
}

#detail-container .container{
  max-width: 1080px;
  margin: 0 auto;
}

#detail-container .top{
  height: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:100;
  border-bottom: 2px solid #eee;
  box-shadow: 0 0.2px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#detail-container .back-icon{
  display: block;
  margin-left: 0.2rem;
  font-size: 0.5rem;
}

#detail-container .top-logo{
  width: 0.8rem;
  margin-left: 0.2rem;
}

#detail-container .top-title{
  line-height:1.3rem;
  font-size: 0.5rem;
  font-weight: 600;
  margin-left: 0.1rem;
}

#detail-container .product{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#detail-container .product-pic{
  width:6rem;
  display: block;
}

#detail-container .word{
  margin-left: 1.4rem;
  font-size: 0.4rem;
  margin-right: 0.3rem;
  font-weight: 600;
}
#detail-container .product .ant-btn{
  font-size: 0.4rem;
}
#detail-container .text{
  flex: 1;
}
#detail-container .list{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#detail-container .useful{
  margin-top: 0.5rem;
  font-size: 0.4rem;
}

#detail-container .base{
  margin-top: 0.5rem;
  font-size: 0.4rem;
}

@media screen and (max-width:768px){
  #detail-container .container{
    margin: 0.5rem;
  }
  #detail-container .product{
    flex-direction: column;
  }
  #detail-container .word{
    margin-left: 0;
    font-size: 0.5rem;
  }
}
